<div class="container-fluid" *ngIf="auth.authenticated()">

	<div class="mt-sm-3 data-maintainer">

		<div class="row mt-1">
			<div class="col-sm-4">
				<button class="btn btn-primary" (click)="showTickerDetailForm=true">Add Entry</button>
				<button *ngIf="selected.length > 0" class="btn btn-secondary" (click)="editTicker()">Edit Entry</button>
			</div>
		</div>

		<div class="row" *ngIf="showTickerDetailForm">
			<div class="col-sm-12">
				<ticker-detail-form  (submitted)="saveTicker($event)"
				(closed)="showTickerDetailForm=false; editing=false" [ticker]="currTicker"></ticker-detail-form>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 col-sm-12 col-xs-12">
				<ngx-datatable class="material"
					[rows]="tickers"
					[columnMode]="'flex'"
					[rowHeight]="'auto'"
					[selected]="selected"
          [selectionType]="'single'"
          (select)='onSelect($event)'>
					<ngx-datatable-column prop="symbol" [flexGrow]="1.3"></ngx-datatable-column>
					<ngx-datatable-column prop="currency" [flexGrow]="1.4"></ngx-datatable-column>
					<ngx-datatable-column prop="exchange" [flexGrow]="1.8"></ngx-datatable-column>
					<ngx-datatable-column prop="fullName" [flexGrow]="5"></ngx-datatable-column>
				</ngx-datatable>
			</div>
		</div>
	</div>

</div>
