<form (ngSubmit)="onSubmit(); tickerForm.reset()" #tickerForm="ngForm">
	<div class="row" *ngIf="ticker">
		<div class="form-group col-sm-2">
			<label for="symbol">Ticker</label>
			<input type="text" class="form-control" id="symbol" required
			[(ngModel)]="ticker.symbol" name="symbol" #symbol="ngModel">
			<div [hidden]="symbol.valid || symbol.pristine" class="alert alert-danger">
				Ticker is required
			</div>
		</div>
		<div class="form-group col-sm-2">
			<label for="currency">Currency</label>
			<select class="form-control" id="currency" required [(ngModel)]="ticker.currency"
				name="currency" #currency="ngModel">
				<option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
			</select>
			<div [hidden]="currency.valid || currency.pristine" class="alert alert-danger">
				Currency is required
			</div>
		</div>
		<div class="form-group col-sm-2">
			<label for="exchange">Exchange</label>
			<select class="form-control" id="exchange" required [(ngModel)]="ticker.exchange"
				name="exchange" #exchange="ngModel">
				<option *ngFor="let exchange of exchanges" [value]="exchange">{{exchange}}</option>
			</select>
		</div>
		<div class="form-group col-sm-5">
			<label for="fullName">Full Name</label>
			<input type="text" class="form-control" id="fullName" required
			[(ngModel)]="ticker.fullName" name="fullName" #fullName="ngModel">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<button type="submit" class="btn btn-success" [disabled]="!tickerForm.form.valid">Submit</button>
			<button type="button" class="btn btn-secondary" (click)="closeForm()">Close</button>
		</div>
	</div>
</form>
