<!-- <div class="container"> -->
	<!-- <div class="row">
		<h3>Portfolio</h3>
		<div class="grid grid-pad">
		  <div *ngFor="let portfolioEntry of portfolioEntries"  [routerLink]="['/holding', portfolioEntry.holding.id]"
		  class="col-1-4">
		    <h4 class="module portfolioEntry">
		      <a>{{portfolioEntry.holding.symbol}}</a>  {{portfolioEntry.previousClose}}
		    </h4>
		  </div>
		</div>
		<div *ngIf="testStr">
		  <label>Output is {{test}}</label>
		</div>
	</div> -->

	<div class="row">
		<!-- <div class="col-sm-2">
			<a class="nav" [routerLink]="['/holdings']">Show Holdings</a>
		</div> -->
		<div class="col-sm-12">
			<a class="nav" (click)="openAddHoldingForm()">Add Holding</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div *ngIf="showAddHoldingForm">
				<app-holding-form (added)="refreshPortfolio($event)" (closed)="showAddHoldingForm=false"></app-holding-form>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<swui-datatable
				[rows]="portfolioEntries"
				[columnMode]="'flex'"
				[rowHeight]="'auto'"
				class="material">
				<swui-datatable-column prop="symbol" [flexGrow]="1"></swui-datatable-column>
        <swui-datatable-column name="Shares" prop="totalShares" [flexGrow]="1"></swui-datatable-column>
        <swui-datatable-column name="Curr Price" prop="currPrice" [flexGrow]="1.3"></swui-datatable-column>
				<swui-datatable-column name="Prev Close" prop="previousClose" [flexGrow]="1.4"></swui-datatable-column>
				<swui-datatable-column name="% Change" prop="percentChange" [flexGrow]="1.3">
					<template let-value="value" swui-datatable-cell-template>
						<span [ngClass]="{greenCell: value.startsWith('+'), redCell: value.startsWith('-')}">{{value}}</span>
					</template>
				</swui-datatable-column>
        <swui-datatable-column prop="marketValue" [flexGrow]="1.6" >
					<template let-value="value" swui-datatable-cell-template>
						{{value.toFixed(2)}}
					</template>
				</swui-datatable-column>
				<swui-datatable-column name="Total % Gain" prop="totalPercentGain" [flexGrow]="1.5">
					<template let-value="value" swui-datatable-cell-template>
						<span [ngClass]="{greenCell: value > 0, redCell: value < 0}">{{value | percent:'1.2-2'}}</span>
					</template>
				</swui-datatable-column>
				<swui-datatable-column prop="totalGain" [flexGrow]="1.3">
					<template let-value="value" swui-datatable-cell-template>
						<span [ngClass]="{greenCell: value > 0, redCell: value < 0}">{{value.toFixed(2)}}</span>
					</template>
				</swui-datatable-column>
        <swui-datatable-column name="50 Day MA" prop="ma50Day" [flexGrow]="1.4"></swui-datatable-column>
        <swui-datatable-column name="200 Day MA" prop="ma200Day" [flexGrow]="1.5"></swui-datatable-column>
        <swui-datatable-column prop="yearLow" [flexGrow]="1.2"></swui-datatable-column>
        <swui-datatable-column prop="yearHigh" [flexGrow]="1.3"></swui-datatable-column>
			</swui-datatable>
		</div>
	</div>
<!-- </div> -->
