a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}

button.btn-margin-left {
	margin-left: 15px;
}

button.btn-margin-top {
	margin-top: 10px;
}

.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.datatable {
	font-size: 12px;
	margin-top:18px;
}
.redCell {
	color: red;
}
.greenCell {
	color: green;
}

button.delete {
  float:right;
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color:white;
}
