<!-- <h3>Top Holdings</h3>
<div class="grid grid-pad">
  <a *ngFor="let holding of holdings"  [routerLink]="['/holding', holding.id]"  class="col-1-4">
    <div class="module holding">
      <h4>{{holding.symbol}}</h4>
    </div>
    <button class="delete" (click)="delete(holding);">DEL</button>
  </a>
</div>
<div *ngIf="testStr">
  <label>Output is {{test}}</label>
</div> -->
<h3>Holdings</h3>
<div class="row">
	<div class="col-sm-12">
		<swui-datatable class="material"
			[rows]="holdings"
			[columnMode]="'flex'"
			[rowHeight]="'auto'">
			<swui-datatable-column prop="symbol" [flexGrow]="1"></swui-datatable-column>
			<swui-datatable-column prop="currency" [flexGrow]="1"></swui-datatable-column>
			<swui-datatable-column prop="tradeDate" [flexGrow]="1">
				<template let-value="value" swui-datatable-cell-template>
					{{value | date:'d/MM/y'}}
				</template>
			</swui-datatable-column>
			<swui-datatable-column prop="shares" [flexGrow]="1"></swui-datatable-column>
			<swui-datatable-column prop="tradePrice" [flexGrow]="1"></swui-datatable-column>
			<swui-datatable-column prop="commission" [flexGrow]="1"></swui-datatable-column>
			<swui-datatable-column prop="initialMarketValue" [flexGrow]="1.5">
				<template let-value="value" swui-datatable-cell-template>
					{{value.toFixed(2)}}
				</template>
			</swui-datatable-column>
		</swui-datatable>
	</div>
</div>
