h3 {
  text-align: center;
	margin-bottom: 0;
	font-size: 1em;
}

.datatable {
	font-size: 12px;
	margin-top:18px;
}

button.btn-margin-left {
	margin-left: 15px;
}

button.btn-margin-top {
	margin-top: 10px;
}
